/* Karanlık tema */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Tam ekran arkaplan için sayfa kaydırmasını kaldır */
}

/* Particles.js arka plan */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #313131; /* Arkaplan rengi (isteğe bağlı) */
  top: 0;
  left: 0;
  z-index: -1; /* Partiküllerin arkaplanda kalmasını sağla */
}

/* Quiz container */
#quiz-container {
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background: rgba(49, 49, 49, 0.8);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  z-index: 1; /* Quiz içeriğini arkaplandan önde göster */
}

#result-container {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
}

.button:hover {
  background-color: #45a049;
}

/* Sonuç ekranı stili */
.result-style {
  text-align: center;
  font-size: 1.8rem;
  color: #ffcc00;
}
